version: '3.8'
services:
  activemq:
    image: rmohr/activemq:latest
    container_name: activemq
    ports:
      - "61616:61616"
      - "8161:8161"
    environment:
      - ACTIVEMQ_ADMIN_LOGIN=admin
      - ACTIVEMQ_ADMIN_PASSWORD=admin

  search1:
    build: ./search-service
    depends_on:
      - hazelcast1
      - activemq
    environment:
      - SPRING_PROFILES_ACTIVE=container
    expose:
      - "8080"

  indexer:
    build: ./indexer-service
    depends_on:
      - hazelcast1
      - activemq

  crawler:
    build: ./crawler-service
    depends_on:
      - activemq

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - search1
