version: "3.9"

services:
  activemq:
    image: rmohr/activemq:latest
    container_name: activemq
    ports:
      - "61616:61616"
      - "8161:8161"
    environment:
      ACTIVEMQ_ADMIN_LOGIN: admin
      ACTIVEMQ_ADMIN_PASSWORD: admin

  crawler:
    build:
      context: .
      dockerfile: Dockerfile.crawler
    depends_on:
      - activemq
    ports:
      - "8081:8080"
    volumes:
      - ./test:/data

  indexer:
    build:
      context: .
      dockerfile: Dockerfile.indexer
    depends_on:
      - activemq
    ports:
      - "8082:8080"

  search:
    build:
      context: .
      dockerfile: Dockerfile.search
    depends_on:
      - activemq
    ports:
      - "8083:8080"
